.data-label-text {
    padding-top: 5px !important; 
}

.outside-container {
    overflow-x: auto;
    margin: auto;
}

.inside-container {
    max-width: 75%;
    min-width: min-content;
    margin: auto;
}

.eventid-col {
    max-width: 20%;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.authors-col {
    max-width: 100%;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.error-icon {
    width: 54px;
    max-width: 54px;
}

.message-tabs {
    width: 100%;
}

.extra-input-col {
    max-width: 20%;
}

.submit-button {
    color: white;
}

.clear-button {
    float: right;
}

.add-row-photometry .add-row-photometry-button {
    color: white;
}

.add-row-discovery .add-row-discovery-button {
    color: white;
}

.nondetection-column {
    vertical-align: middle;
}

.index-column {
    width: 20px;
    vertical-align: middle !important;
}

.index-column span{
    margin: 0 auto;
}

#title-fieldgroup-main-fields label{
    flex: 0 0 10%;
}

#authors-fieldgroup-main-fields label{
    flex: 0 0 10%;
}

#aliases-fieldgroup-advanced-target-collapse-0 label{
    flex: 0 0 10%;
}

#url-fieldgroup-reference-0 label{
    flex: 0 0 10%;
}

.form-group {
    margin-bottom: 0;
}

.ra-column {
    min-width: 80px;
}

.dec-column {
    min-width: 80px;
}

.ra-error-column {
    min-width: 60px;
}

.dec-error-column {
    min-width: 60px;
}

.ra-error-units-column {
    min-width: 90px;
}

.dec-error-units-column {
    min-width: 90px;
}

.target-name-column {
    min-width: 80px;
}

.target-select-column {
    width: 120px;
}

.source-column {
    width: 300px;
}

.citation-column {
    width: 200px;
}

.url-column {
    width: 440px;
}

.telescope-column {
    width: 90px;
}

.instrument-column {
    width: 90px;
}

.bandpass-column {
    width: 90px;
}

.brightness-units-column {
    width: 120px;
}

.new-discovery-column {
    width: 40px;
    vertical-align: middle;
}

.new-discovery-column .form-group {
    text-align: center;
    padding-top: 4px;
    width: 100%;
}

.value-column {
    width: 70%;
}

.copy-column {
    width: 50px;
}

.delete-column {
    width: 50px;
}
