.outside-container {
    overflow-x: auto;
    margin: auto;
}

.inside-container {
    max-width: 75%;
    min-width: min-content;
    margin: auto;
}

.eventid-col {
    max-width: 20%;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.authors-col {
    max-width: 100%;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.message-tabs {
    width: 100%;
}

.extra-input-col {
    max-width: 20%;
}

.submit-button {
    color: white;
}

.clear-button {
    float: right;
}