// Custom colors for variant themes
$light: #c9e4f2;
$white: #fbffff;
$dark: #03032c;
$primary: #1b486a;
$secondary: #619dbb;
$info: #ec9061;
$success: #388E3C;
$warning: #F57C00;
$danger: #DC3545;
$muted: #FAFAFA;
